# gitignore file for ZinPass project

# 忽略所有目录
build/
target/
install/
generated/
auto_generated/
auto_gen/

# 忽略以下测试文件
data/zinpass.db
data/zinpass.db.backup
data/test.db
data/test.db.backup

# 忽略以下扩展名的文件
*.o
*.obj
*.tmp
*.exe
*.dll
*.dll.a
*.so
*.a
*.lib
*.tar.gz
*.tar.xz
*.tar.bz2
*.tgz
*.txz
*.zip
*.7z
*.rar
*.db

# 编辑器/IDE 文件
.idea/
.vscode/
*.swp

# third party libraries binary 
third_party/lib/
